.playerHand {
  display: flex;
  // margin: 3rem;
  padding: 1rem;
  border: 2px solid blue;

  .card {
  }
  .card:hover {
    z-index: 10;
    transform: translateY(-5%);
    cursor: pointer;
  }
}
