.card {
  width: 50px;

  img {
    width: 100%;
  }

  &.active {
    cursor: pointer;
  }

  &.inactive {
    cursor: not-allowed;

    img {
      filter: brightness(60%);
    }
  }
  &.moveCard,
  &.stack {
    cursor: default;

    img {
      filter: brightness(100%);
    }
  }

  &.active:hover {
    z-index: 10;
    transform: translateY(-5%);
  }

  &.active.moveCard:hover {
    cursor: default;
    transform: translateY(0);
  }
}
